<div class="cart_page_v2__top_text">
  <div class="cart_page_v2__top_text__inner">
    Choose a card.
  </div>
  <div class="home_page_v2__cell_border"></div>
</div>
<div class="home_page_v2__top_bar">
  <div class="home_page_v2__cell_border"></div>
  <div class="home_page_v2__left_text" on-touch="chooseCardBackPressed()">
    <!--<div class="home_page_v2__hamburger_button">-->
    <!--</div>-->
    <div class="home_page_v2__next" style="left: 5vw; text-align: left;">
      Back
    </div>
  </div>
  <div class="home_page_v2__right_text" on-touch="chooseCardFinishPressed()" style="right: 0; width: 36vw;">
    <div class="home_page_v2__next">
      Confirm
    </div>
  </div>
</div>

<div class="choose_address__container">
  <div class="choose_address__address_list">
    <div style="min-height: 101%">
      <div ng-repeat="cardObj in cardList">
        <div class="choose_address__list_cell" on-touch="cellSelected($index)">
          <div class="choose_account__cell_container">
            <div class="choose_account__cell_top_row">
              {{cardObj.type}} {{cardObj.pretty_exp_month}}/{{cardObj.exp_year}}
            </div>
            <div class="choose_account__cell_bottom_row">
              XXXX-XXXX-XXXX-{{cardObj.last_four}}
            </div>
          </div>
          <div class="choose_address__cell_border"></div>
          <div class="choose_account__selected_badge" ng-if="$index == selectedCardIndex.value">
          </div>
          <div class="choose_account__deselected_badge" ng-if="$index != selectedCardIndex.value">
          </div>
        </div>
      </div>
      <div class="choose_address__list_cell" on-touch="addCardButtonPressed()" style="margin-bottom: 1em;">
        <div class="choose_address__add_new_text">+ Add new card</div>
        <div class="choose_address__cell_border"></div>
        <img class="choose_address__arrow" src="img/arrow.png" alt="">
      </div>
    </div>
  </div>
</div>

<div ng-include src="'loading_screen/loading_screen.html'" ng-if="cardsLoading || cartLoading" class="fade-me"></div>
