<div class="choose_address__container">
  <div class="choose_address__address_list">
    <div style="min-height: 101%">
      <div ng-repeat="cardObj in cardList">
        <div class="choose_address__list_cell" ng-click="cellSelected($index)">
          <div class="choose_address__cell_top_row">
            {{cardObj.type}} {{cardObj.pretty_exp_month}}/{{cardObj.exp_year}}
          </div>
          <div class="choose_address__cell_bottom_row">
            XXXX-XXXX-XXXX-{{cardObj.last_four}}
          </div>
          <div class="choose_address__cell_border"></div>
          <img class="choose_address__selected_badge leave-right-centered enter-right-centered" ng-if="$index == selectedCardIndex.value"
                src="img/happy_burger.png" alt="">
        </div>
      </div>
      <div class="choose_address__list_cell" ng-click="addCardButtonPressed()" style="margin-bottom: 1em;">
        <div class="choose_address__add_new_text">+ Add new card</div>
        <div class="choose_address__cell_border"></div>
        <img class="choose_address__arrow" src="img/arrow.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="choose_address__top_bar">
  <div class="choose_address__middle_text">Choose a card!</div>
  <div class="choose_address__right_text" ng-click="chooseCardFinishPressed()">
    <div class="swipe_page__vertically_center">
      FOOD!
    </div>
  </div>
  <div class="choose_address__left_text" ng-click="chooseCardBackPressed()">
    <div class="swipe_page__vertically_center">
      Back
    </div>
  </div>
  <div class="choose_address__cell_border"></div>
</div>

<!--TODO(daddy): This is shitty. It's a page embedded in another page. The reason I'm-->
<!--doing it this way is two-fold:-->
<!--1) I don't want to learn ui-router and gut all my code to use it.-->
<!--2) I need to ask for confirmation after they enter the phone number, so the phone-->
<!--page does kindof need to be tightly-coupled to the card_page.-->
<div class="choose_card__enter_phone" ng-if="showPhonePage">
  <div ng-include src="'choose_card/add_phone.html'"></div>
</div>

<div ng-include src="'loading_screen/loading_screen.html'" ng-if="cardsLoading || cartLoading" class="fade-me"></div>
