<div class="choose_address_v3__container">
  <div class="home_page_v2__cell_border"></div>
  <label><input ng-change="addressDidChange()" class="choose_address_v2__inner_input" type="search" ng-model="addressQuery" placeholder="Type in me..." ng-trim="false"></label>
  <div class="choose_address_v2__clear_text_container" ng-if="addressQuery.length > 0" on-touch="clearTextPressed()">
    <div class="choose_address_v2__clear_text"></div>
  </div>
  <div class="choose_address__predicted_addresses_container"
      ng-if="predictedAddresses != null && predictedAddresses.data != null && predictedAddresses.data.length > 0">
    <div class="choose_address__scroll_container">
      <div class="choose__address__address_option" ng-repeat="option in predictedAddresses.data" on-touch="addressSelected(option)">
        <div class="choose_address__address_option__inner">
          {{option.description}}
        </div>
      </div>
    </div>
    <div class="choose__address__address_option" style="height: 1.5rem; border-top: 1px solid #B7B7B7">
      <div class="choose_address__attribution"></div>
    </div>
  </div>
  <div id="dummy_google_attribution_element"></div>
</div>
