<div ng-show="globals.userAddress != null" class="stack__overall_container">
  <div class="stack__restaurant">
    <div class="stack__restaurant_name"></div>
  </div>
  <div class="stack__delivery_minimum">
    <div class="stack__delivery_minimum_text">
      <div class="stack__delivery_minimum_text__message">Delivery minimum:</div>
      <div class="stack__delivery_minimum_text__price">$10</div>
    </div>
  </div>
  <div class="stack__buttons">
    <div class="stack__buttons__container">
      <div class="stack__buttons__info" ng-click="infoPressed()"></div>
      <div class="stack__buttons__like" ng-click="likePressed()"></div>
      <div class="stack__buttons__dislike" ng-click="dislikePressed()"></div>
      <div class="stack__buttons__shuffle_dishes" ng-click="shuffleDishesPressed()"></div>
      <div class="stack__buttons__new_merchants" ng-click="shuffleMerchantsPressed()"></div>
    </div>
  </div>
  <div class="stack__cards">
    <div class="stack__cards__cards_container">
      <div class="stack__single_card">
        <!--Some crazy shit happens in javascript to make this refresh. It's very bad.-->
        <!--Basically be careful when you make changes to this class.-->
        <div class= "stack__single_card__food_image_loading">
          <div class="stack__single_card__food_image_waiting">No image yet-- but keep swiping!</div>
        </div>
        <div class= "stack__single_card__food_image"></div>
        <img class="overall__attribution_img" src="img/powered_by_google.png">
        <div class="stack__single_card__text_container">
          <div class="stack__single_card__item_name">
            <div class="stack__single_card__item_name_inner">
              <!--TODO(daddy): Strip names so they're not too long.--> 
            </div>
          </div>
          <div class="stack__single_card__item_price">
            <div class="stack__single_card__item_price_inner"></div>
         </div>         
        </div>
      </div>
      <!--Cards get put in here with jquery.-->
    </div>
  </div>
</div>
<div class="stack__overall_container" ng-show="globals.userAddress == null" style="background-color: black;">
  <div class="stack__top_text">Enter an address.</div>
  <div class="stack__winking_burgie"></div>
  <div class="stack__bottom_text">Have a pea-some.</div>
</div>
