<div class="choose_address__container">
  <div class="choose_address__address_list">
    <div style="min-height: 101%">
      <div ng-repeat="accountObj in accountsList">
        <div class="choose_address__list_cell" ng-click="cellSelected($index)">
          <div class="choose_address__cell_top_row">
            {{accountObj.user.first_name}} {{accountObj.user.last_name}}
          </div>
          <div class="choose_address__cell_bottom_row">
            {{accountObj.user.email}} 
          </div>
          <div class="choose_address__cell_bottom_row">
            points: {{accountObj.user.life_time_delivery_points}}  &nbsp; | &nbsp; orders: {{accountObj.user.life_time_orders_count}}
          </div>
          <div class="choose_address__cell_border"></div>
          <img class="choose_address__selected_badge leave-right-centered enter-right-centered" ng-if="$index == selectedAccountIndex.value"
                src="img/happy_burger.png" alt="">
        </div>
      </div>
      <div class="choose_address__list_cell" ng-click="addAccountButtonPressed()" style="margin-bottom: 1em;">
        <div class="choose_address__add_new_text">+ Add new account</div>
        <div class="choose_address__cell_border"></div>
        <img class="choose_address__arrow" src="img/arrow.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="choose_address__top_bar">
  <div class="choose_address__middle_text">Choose account!</div>
  <div class="choose_address__right_text" ng-click="finishButtonPressed()">
    <div class="swipe_page__vertically_center">
      Finish
    </div>
  </div>
  <div class="choose_address__left_text" ng-click="backButtonPressed()">
    <div class="swipe_page__vertically_center">
      Back
    </div>
  </div>
  <div class="choose_address__cell_border"></div>
</div>

<div ng-include src="'loading_screen/loading_screen.html'" ng-if="isLoading" class="fade-me"></div>
