.DS_Store
node_modules
www/bower_components
platforms/ios/www
platforms/android/assets/www/
.sass-cache
xcuserdata
xcshareddata
phonegap.js
platforms/android/.gradle/
platforms/android/CordovaLib/build/
platforms/browser
plugins/browser.json
.class
