<div class="choose_address__container">
  <div class="choose_address__address_list">
    <div class="choose_address__list_cell" ng-click="toggleSelectAll()" ng-if="all_cuisines.length > 0">
      <div class="choose_address__cell_top_row choose_cuisine__select_all">
        {{selectAllText}}
      </div>
      <div class="choose_address__cell_border"></div>
    </div>
    <div ng-repeat="cuisineObj in all_cuisines">
      <div class="choose_address__list_cell" ng-click="cellTapped($index)">
        <div class="choose_address__cell_top_row">
          {{cuisineObj.name}}
        </div>
        <div class="choose_address__cell_border"></div>
        <img class="choose_address__selected_badge leave-right-centered enter-right-centered" ng-if="isSelected($index)"
              src="img/happy_burger.png" alt="">
      </div>
    </div>
    <div style="margin-bottom: 1em;"></div>
    <div class="choose_cuisine__no_cuisines" ng-if="all_cuisines.length === 0">
        Noooo!<br>It looks like delivery isn't available right now because everything is closed :(
    </div>
  </div>
</div>
<div class="choose_address__top_bar">
  <div class="choose_address__middle_text">Restaurant types!</div>
  <div class="choose_address__right_text" ng-click="chooseCuisineDonePressed()">
    <div class="swipe_page__vertically_center">
      Done
    </div>
  </div>
  <div class="choose_address__left_text" ng-click="chooseCuisineBackPressed()">
    <div class="swipe_page__vertically_center">
      Back
    </div>
  </div>
  <div class="choose_address__cell_border"></div>
</div>
<div ng-include src="'loading_screen/loading_screen.html'" ng-if="isLoading" class="fade-me"></div>
