<div class="cart_page_v2__top_text">
  <div class="cart_page_v2__top_text__inner">
    Edit your cart.
  </div>
  <div class="home_page_v2__cell_border"></div>
</div>
<div class="cart_page_v2__items_container">
  <div class="cart_page_v2__item_list">
    <div style="min-height: 101%">
      <div ng-repeat="cartItem in globals.userCart" class="cart_page__repeated_cell_animated fade-out-500ms">
        <div class="cart_page_v2__list_cell">
          <div class="cart_page__invisible_cart_remove_button" on-touch="removeFromCart($index)">
            <div class="cart_page_v2__delete_button"></div>
          </div>
          <div class="cart_page__cell_text_container">
            <div class="choose_address__cell_top_row">
              {{cartItem.name}}
            </div>
            <div class="choose_address__cell_bottom_row">
              <div style="font-family: TitleFont; display: inline;">from</div> {{cartItem.merchantName}} 
            </div>
          </div>
          <div class="cart_page__price swipe_page__vertically_center">
            ${{cartItem.price}}
          </div>
          <!--Don't put a border on the last cell-->
          <div class="choose_address__cell_border" ng-if="globals.userCart.length < 5 || ($index !== globals.userCart.length - 1)"></div>
        </div>
        </div>
      <div class="cart_page__empty_cart" ng-if="globals.userCart.length === 0">
        Nothing's in your cart.<br>Go back and swipe right on stuff.
      </div>
    </div>
  </div>
</div>
<div class="cart_page__bottom_bar" ng-if="globals.userCart.length > 0">
  <div style="color: #C8C8C8;" class="choose_address__left_text">
    Total
  </div>
  <div style="color: #C8C8C8;" class="choose_address__right_text">
    ${{cartTotal}}
  </div>
</div>
<div ng-if="globals.userCart.length > 0" class="cart_page__clear_cart fade-out-500ms"
    on-touch="cartPageClearCartPressed()">
  <div class="cart_page__clear_text">clear cart</div>
</div>
