/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: TitleFont;
  src: url("fonts/Alegreya Sans 900.ttf"); }
@font-face {
  font-family: TaglineFont;
  src: url("fonts/Alegreya Sans 500.ttf"); }
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  background: white; }

/* Portrait layout (default) */
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

::-webkit-scrollbar {
  display: none; }

.intro_screen_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.intro_screen__upper_container {
  position: absolute;
  top: 0;
  bottom: 23%;
  left: 0;
  right: 0;
  background-color: none;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/ }
  @media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__upper_container {
      bottom: 26%; } }

.intro_screen__lower_container {
  position: absolute;
  top: 77%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/ }
  @media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__lower_container {
      top: 74%; } }

.intro_screen__phone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  box-shadow: 0px 15px 70px black;
  border-radius: 30px; }

/*We place the screenshot image inside the phone. To do this we take where the*/
/*phone is relative to the outer div, and add the offset of the screenshot to it.*/
.intro_screen__screenshot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 66.85714%;
  overflow: hidden; }

.intro_screen__all_intro_screenshots {
  height: 100%;
  position: absolute; }

.intro_screen__text_container {
  position: absolute;
  width: 100%; }

.intro_screen__overall_text_container {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center; }

.intro_screen__main_text {
  font-family: TitleFont;
  font-size: 1.5rem;
  text-align: center;
  text-transform: none;
  margin-bottom: 0;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/ }
  @media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 1.3rem; } }
  @media only screen and (max-device-width: 320px) and (min-device-height: 481px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 1.5rem; } }
  @media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (min-device-height: 569px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 1.8rem; } }
  @media only screen and (min-device-width: 376px) and (max-device-width: 414px) and (min-device-height: 569px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 1.8rem;
      margin-top: 0.5rem; } }

.intro_screen__description_text {
  font-family: TaglineFont;
  text-transform: none;
  text-align: center;
  padding: 0 .5rem;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/ }
  @media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__description_text {
      font-size: 1.0rem; } }
  @media only screen and (max-device-width: 320px) and (min-device-height: 481px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__description_text {
      font-size: 1.2rem; } }
  @media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (min-device-height: 569px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__description_text {
      font-size: 1.5rem; } }
  @media only screen and (min-device-width: 376px) and (max-device-width: 414px) and (min-device-height: 569px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__description_text {
      font-size: 1.5rem;
      margin-top: 0.5rem; } }

.intro_screen__dot_slider {
  margin-top: .9rem;
  margin-bottom: 0;
  text-align: center; }

.intro_screen__dot_indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: none;
  margin: 0 4px;
  vertical-align: middle; }

.intro_screen__active_dot {
  width: 20px;
  height: 20px; }

.intro_screen__sign_in_button {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 8%; }

.choose_address__container {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-bottom: 3rem; }

.choose_address__top_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  color: white;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  background-color: white; }

.choose_address__address_list {
  margin-top: 3rem;
  height: 100%;
  background-color: white;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.choose_address__middle_text {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  color: #464646; }

.choose_address__right_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 0.5em;
  color: #464646; }

.choose_address__left_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  left: 0.5em;
  color: #464646; }

.choose_address__list_cell {
  padding: 1rem 1rem;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative;
  color: #6E6666; }

.choose_address__cell_border {
  border-bottom: 1px solid #979797;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  margin-left: auto;
  margin-right: auto; }

.choose_address__add_new_text {
  margin: 0.5rem 0;
  color: #464646;
  font-family: TitleFont; }

.choose_address__arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 1rem; }

.choose_address__selected_badge {
  width: 2.8rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 1em; }

.add_address__input_container {
  padding: 0rem 1rem;
  padding-top: 1rem;
  color: #260126;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative; }

.add_address__input_cell {
  padding: 0 1rem;
  padding-top: 0.5rem;
  color: #260126;
  background-color: white;
  font-family: TitleFont;
  font-size: 1rem;
  text-transform: none;
  position: relative; }

.add_address__cell_bottom_row input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: .2rem;
  color: #6E6666; }

.add_address__cell_top_row {
  font-size: 1.3rem;
  color: #6E6666; }

.add_address__cell_bottom_row select {
  width: 4rem;
  background-color: #260126;
  color: white;
  border: none;
  height: 1.5rem;
  font-size: 1.1rem;
  vertical-align: middle; }

.overall__loading_widget {
  position: fixed;
  top: 20%;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-family: TitleFont;
  font-size: 3rem;
  color: #464646; }

.overall__loading_widget_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8; }

.overall__loading_pusheen {
  background: url("../img/pusheen_eating.gif") no-repeat center center;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 30%;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 5px solid #464646;
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.swipe_page__overall_container {
  background-color: #E7E8E9;
  height: 100%;
  width: 100%;
  position: absolute; }

.swipe_page__top_text {
  position: absolute;
  height: 12%;
  top: 0;
  width: 100%;
  text-transform: none;
  font-family: TitleFont;
  font-size: 2rem;
  text-align: center;
  color: #6E6666; }

.swipe_page__jtinder_container {
  width: 92%;
  height: 72%;
  top: 15%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.swipe_page__loading_pusheen {
  background-image: url("../img/pusheen_eating.gif");
  position: absolute;
  top: 20%;
  left: 0;
  width: 80%;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  border: 5px solid #464646;
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.swipe_page__vertically_center {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%); }

.swipe_page__tinderslide {
  position: absolute;
  background: #fff;
  width: 95%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.swipe_page__food_image_container {
  width: 100%;
  height: 50%;
  position: absolute; }

.swipe_page__food_image {
  position: absolute;
  top: 3%;
  right: 10%;
  bottom: 3%;
  left: 10%;
  background-size: contain;
  border-radius: 100%;
  border: 3px solid #6E6666; }

.swipe_page__food_text_container {
  top: 50%;
  position: absolute;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  color: #838383;
  bottom: 0;
  left: 0;
  right: 0; }

.swipe_page__price {
  font-size: 2rem;
  margin: -.5rem;
  color: #6E6666;
  font-family: TitleFont;
  height: 2.7rem; }

.swipe_page__food_name {
  font-size: 1.3rem;
  overflow: hidden;
  height: 1.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.swipe_page__restaurant_name {
  font-size: 1.3rem;
  height: 1.6rem;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.swipe_page__top_description_bar {
  height: 0.5rem;
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%; }

.swipe_page__bottom_description_bar {
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  bottom: 4%; }

.swipe_page__scroller {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center; }

.swipe_page__description_container {
  position: absolute;
  overflow: hidden;
  top: 6.4rem;
  bottom: 4%;
  left: 0;
  right: 0; }

.swipe_page__bottom_menu {
  height: 7%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0; }

.swipe_page__bottom_button {
  display: inline-block;
  width: 50%;
  height: 75%;
  position: relative; }

.swipe_page__num_items_in_cart_badge {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #FFB2B2;
  border-radius: 100%;
  border: 1px solid #6E6666;
  position: absolute;
  text-align: center;
  color: #6E6666;
  font-family: TitleFont;
  font-size: 0.8rem; }

.swipe_page__num_items_in_cart_badge {
  font-size: .9rem; }

#tinderslide {
  background: none;
  background-color: transparent; }

.cart_page__delete_icon {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 1rem;
  right: auto; }

.cart_page__cell_text_container {
  margin-left: 1.8rem;
  margin-right: 3.5rem;
  overflow: hidden;
  display: block; }

.cart_page__price {
  right: 1rem;
  left: auto;
  font-size: 1.3rem; }

.cart_page__clear_text {
  font-family: TitleFont;
  color: #6E6666;
  font-size: 2.1rem;
  background-color: #FFB2B2;
  padding: 0.2rem;
  border-top: 1px solid #6E6666;
  border-bottom: 1px solid #6E6666; }

.cart_page__bottom_bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: red;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  background-color: #464646; }

.cart_page__clear_cart {
  padding: 0;
  position: fixed;
  bottom: 3.5rem;
  width: 100%;
  height: 3rem;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center; }

.cart_page__empty_cart {
  font-family: TitleFont;
  text-transform: none;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #464646; }

/*animate*/
.slide-left > .ng-enter,
.slide-left > .ng-leave,
.slide-right > .ng-enter,
.slide-right > .ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -ms-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.slide-left > .ng-enter {
  z-index: 101;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.slide-left > .ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-left > .ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-left > .ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.slide-right > .ng-enter {
  z-index: 100;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.slide-right > .ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-right > .ng-leave {
  z-index: 101;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-right > .ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.fade-me.ng-leave {
  transition: 0.25s linear all;
  opacity: 1; }

.fade-me.ng-leave.ng-leave-active {
  opacity: 0; }

.cart_page__repeated_cell_animated {
  overflow: hidden; }

.cart_page__repeated_cell_animated.ng-leave {
  -ms-transition: .5s linear;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  max-height: 10rem;
  opacity: 1; }

.cart_page__repeated_cell_animated.ng-leave.ng-leave-active {
  max-height: 0rem;
  opacity: 0; }

.cart_page__empty_cart.ng-enter {
  ms-transition: 5s ease-in-out;
  webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
  opacity: 0; }

.cart_page__empty_cart.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-in-300ms.ng-enter {
  ms-transition: .3s ease-in-out;
  webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0; }

.fade-in-300ms.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-out-300ms.ng-leave {
  ms-transition: .3s ease-in-out;
  webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1; }

.fade-out-300ms.ng-leave.ng-leave-active {
  opacity: 0; }

.fade-in-500ms.ng-enter {
  ms-transition: .5s ease-in-out;
  webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 0; }

.fade-in-500ms.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-out-500ms.ng-leave {
  ms-transition: .5s ease-in-out;
  webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 1; }

.fade-out-500ms.ng-leave.ng-leave-active {
  opacity: 0; }

.leave-right-centered.ng-leave {
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%); }

.leave-right-centered.ng-leave.ng-leave-active {
  -webkit-transform: translateX(300%) translateY(-50%);
  transform: translateX(300%) translateY(-50%); }

.enter-right-centered.ng-enter {
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(300%) translateY(-50%);
  transform: translateX(300%) translateY(-50%); }

.enter-right-centered.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0%) translateY(-50%);
  transform: translateX(0%) translateY(-50%); }

/*# sourceMappingURL=index.css.map */
