/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: TitleFont;
  src: url("fonts/Alegreya Sans 900.ttf"); }
@font-face {
  font-family: TaglineFont;
  src: url("fonts/Alegreya Sans 500.ttf"); }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  background: white; }

/* Portrait layout (default) */
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

::-webkit-scrollbar {
  display: none; }

.main_view {
  -webkit-backface-visibility: hidden; }

.intro_screen_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.intro_screen__upper_container {
  position: absolute;
  top: 0;
  bottom: 32%;
  left: 0;
  right: 0;
  background-color: none; }

.intro_screen__lower_container {
  position: absolute;
  top: 68%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden; }

.intro_screen__phone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  box-shadow: 0px 15px 70px black;
  -webkit-box-shadow: 0px 15px 70px black;
  border-radius: 30px; }

/*We place the screenshot image inside the phone. To do this we take where the*/
/*phone is relative to the outer div, and add the offset of the screenshot to it.*/
.intro_screen__outer_screenshot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 66.85714%;
  overflow: hidden;
  border: 1px solid #D8D8D8; }

.intro_screen__all_intro_screenshots {
  height: 100%;
  position: absolute;
  width: 100%; }

.intro_screen__enjoy_page {
  background-color: #E4CDCD; }

.overall__attribution {
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.5rem;
  text-transform: none;
  color: black;
  font-family: TitleFont; }

.overall__attribution_img {
  height: 3.5%;
  top: 0.6%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

.intro_screen__enjoy_img {
  background: url("../img/pusheen_eat_everything.gif") no-repeat center center;
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 5px solid #464646;
  overflow: hidden; }

.android .intro_screen__enjoy_img {
  border-radius: 0;
  -webkit-border-radius: 0; }

.intro_screen__space_above_dot_slider {
  height: 5%; }

.intro_screen__dot_slider {
  height: 15%;
  width: 100%;
  position: relative; }

.intro_screen__dot_slider_inner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50%;
  text-align: center;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.intro_screen__overall_text_container {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 25%; }

.intro_screen__text_container {
  position: absolute;
  width: 100%;
  height: 100%; }

.intro_screen__main_text {
  font-family: TitleFont;
  text-align: center;
  text-transform: none;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 1.5rem; }
  @media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (min-device-height: 569px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 1.8rem; } }
  @media only screen and (min-device-width: 376px) and (min-device-height: 569px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__main_text {
      font-size: 2.3rem; } }

.intro_screen__sign_in_button {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 30%;
  width: 90%;
  background-color: #3C5988;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 9px black; }

.intro_screen__sign_in_button_text {
  color: white;
  text-transform: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: TitleFont;
  text-align: center;
  font-size: 2.0rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }
  @media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (min-device-height: 569px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__sign_in_button_text {
      font-size: 2.4rem; } }
  @media only screen and (min-device-width: 376px) and (min-device-height: 569px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro_screen__sign_in_button_text {
      font-size: 3rem; } }

.intro_screen__attribution_text {
  position: absolute;
  top: 84%;
  font-family: TaglineFont;
  text-transform: none;
  font-size: 1rem;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 16%; }

.intro_screen__dot_indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: none;
  margin: 0 4px;
  vertical-align: middle; }

.intro_screen__active_dot {
  width: 20px;
  height: 20px; }

.choose_cuisine__select_all {
  text-align: center;
  font-family: TitleFont;
  color: #464646;
  font-size: 1.5rem; }

.choose_cuisine__no_cuisines {
  text-align: center;
  text-transform: none;
  font-family: TitleFont;
  padding: 0 2rem;
  font-size: 1.7rem; }

.choose_address__container {
  position: absolute;
  top: 9%;
  bottom: 0;
  overflow: hidden;
  left: 0;
  right: 0; }

.choose_address_v2__container {
  position: absolute;
  top: 50%;
  bottom: 0;
  overflow: hidden;
  left: 0;
  right: 0; }

.choose_address__top_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9%;
  color: white;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  background-color: white; }

.choose_address__address_list {
  height: 100%;
  background-color: white;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.choose_address__middle_text {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  color: #464646; }

.choose_address__right_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 0.5em;
  color: #464646;
  height: 100%;
  width: 4.6rem;
  text-align: center;
  margin-right: 0;
  right: 0; }

.choose_address__left_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  left: 0.5em;
  color: #464646;
  height: 100%;
  width: 4.6rem;
  text-align: center;
  margin-right: 0;
  left: 0; }

.choose_address__list_cell {
  padding: 1rem 1rem;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative;
  color: #6E6666;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.choose_address_v2__clear_text_container {
  position: absolute;
  width: 3rem;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  height: 4rem; }

.choose_address_v2__clear_text {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url("../img/clear_text.svg");
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto; }

.choose_address_v2__recent_addresses {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: none;
  font-family: TitleFont;
  left: 1rem;
  color: #464646; }

.choose_address__cell_border.choose_address_v2__border_top {
  border-top: 1px solid #979797;
  top: 0;
  bottom: 100%;
  border-bottom: none; }

.choose_address__cell_border {
  border-bottom: 1px solid #979797;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  margin-left: auto;
  margin-right: auto; }

.choose_address__add_new_text {
  margin: 0.5rem 0;
  color: #464646;
  font-family: TitleFont; }

.choose_address__arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 1rem; }

.choose_address__selected_badge {
  width: 2.8rem;
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.choose_card__enter_phone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; }

.enter_phone__text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  left: 0;
  right: 0;
  text-transform: none;
  font-size: 1.4rem;
  font-family: TitleFont;
  top: 3%; }

.enter_phone__phone_number_container {
  text-transform: none;
  margin: 0 auto;
  left: 0;
  margin-top: 5%;
  width: 80%;
  font-family: TaglineFont;
  font-size: 1.1rem; }

input.choose_address_v2__inner_input.enter_phone__phone_number {
  width: 100%;
  margin-top: .2rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  height: 2.5rem;
  -webkit-border-radius: 0;
  border-radius: 0; }

.enter_phone__done_button {
  background-color: #3C5988;
  height: 4rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  position: relative; }

.add_address__input_container {
  padding: 0rem 1rem;
  padding-top: 1rem;
  color: #260126;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative; }

.add_address__input_cell {
  padding: 0 1rem;
  padding-top: 0.5rem;
  color: #260126;
  background-color: white;
  font-family: TitleFont;
  font-size: 1rem;
  text-transform: none;
  position: relative; }

.add_address__cell_bottom_row input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: .2rem;
  color: #6E6666; }

.add_address__cell_top_row {
  font-size: 1.3rem;
  color: #6E6666; }

.add_address__cell_bottom_row select {
  width: 4rem;
  background-color: #260126;
  color: white;
  border: none;
  height: 1.5rem;
  font-size: 1.1rem;
  vertical-align: middle; }

.overall__loading_long_time {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  text-transform: none;
  font-family: TitleFont;
  font-size: 1.5rem;
  color: #464646; }

.overall__loading_widget {
  position: fixed;
  top: 15%;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  font-family: TitleFont;
  font-size: 3rem;
  color: #464646; }

.overall__loading_widget_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8; }

input:focus {
  outline: none; }

input {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0; }

input.choose_address_v2__inner_input {
  height: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border-style: groove;
  width: 75%;
  padding-left: 3%;
  padding-right: 10%;
  -webkit-appearance: none; }

.choose_address_v2__text_container {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: TaglineFont;
  font-size: 1rem; }

.choose_address_v2__empty_address_list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25%;
  text-align: center;
  font-size: 1.8rem;
  text-transform: none;
  font-family: TitleFont; }

.choose_address_v2__empty_pusheen {
  background: url("../img/pusheen_kneading.gif") no-repeat center center;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #464646;
  height: 60%;
  left: 20%;
  right: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.android .choose_address_v2__empty_pusheen {
  border-radius: 0;
  -webkit-border-radius: 0; }

.overall__loading_pusheen {
  background: url("../img/pusheen_eating.gif") no-repeat center center;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 25%;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #464646;
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.android .overall__loading_pusheen {
  border-radius: 0;
  -webkit-border-radius: 0; }

@-webkit-keyframes pulsate_twitter_button {
  0% {
    -webkit-transform: translateY(-50%) scale(0.9, 0.9); }
  25% {
    -webkit-transform: translateY(-50%) scale(1, 1); }
  50% {
    -webkit-transform: translateY(-50%) scale(1.1, 1.1); }
  75% {
    -webkit-transform: translateY(-50%) scale(1, 1); }
  100% {
    -webkit-transform: translateY(-50%) scale(0.9, 0.9); } }
.tweet_button__container {
  height: 3rem;
  width: 3rem;
  top: 45%;
  position: absolute;
  left: 0.8rem;
  -webkit-transform: translateY(-50%);
  -webkit-animation: pulsate_twitter_button 1s ease-out;
  -webkit-animation-iteration-count: infinite; }

.tweet_button {
  background: url("../img/twitter_share.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }

@-webkit-keyframes pulsate_facebook_button {
  0% {
    -webkit-transform: rotate(15deg) translateY(-46%) scale(0.9, 0.9); }
  25% {
    -webkit-transform: rotate(15deg) translateY(-46%) scale(1, 1); }
  50% {
    -webkit-transform: rotate(15deg) translateY(-46%) scale(1.1, 1.1); }
  75% {
    -webkit-transform: rotate(15deg) translateY(-46%) scale(1, 1); }
  100% {
    -webkit-transform: rotate(15deg) translateY(-46%) scale(0.9, 0.9); } }
.facebook_button__container {
  height: 3rem;
  width: 3rem;
  top: 45%;
  position: absolute;
  right: 0.8rem;
  right: 1.1rem;
  -webkit-transform: rotate(15deg) translateY(-46%);
  -webkit-animation: pulsate_facebook_button 1s ease-out;
  -webkit-animation-iteration-count: infinite; }

.facebook_button {
  background: url("../img/facebook_share.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }

.swipe_page__overall_container {
  background-color: #E7E8E9;
  height: 100%;
  width: 100%;
  position: absolute; }

.swipe_page__top_text {
  position: absolute;
  height: 15%;
  top: 0;
  width: 100%;
  text-transform: none;
  font-family: TitleFont;
  font-size: 2rem;
  text-align: center;
  color: #6E6666; }

.swipe_page__jtinder_container {
  width: 92%;
  height: 75%;
  top: 15%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.swipe_page__loading_pusheen {
  background-image: url("../img/pusheen_pie.gif");
  position: absolute;
  top: 20%;
  left: 0;
  width: 80%;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #464646;
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.android .swipe_page__loading_pusheen {
  border-radius: 0;
  -webkit-border-radius: 0; }

.swipe_page__empty_stack {
  font-family: TitleFont;
  text-transform: none;
  position: absolute;
  top: 10%;
  font-size: 2.0rem;
  text-align: center;
  color: #464646; }

.swipe_page__vertically_center {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.swipe_page__tinderslide {
  position: absolute;
  background: #fff;
  width: 95%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.swipe_page__food_image_container {
  width: 100%;
  height: 50%;
  top: 3.5%;
  position: absolute; }

.swipe_page__food_image {
  position: absolute;
  top: 3%;
  right: 10%;
  bottom: 3%;
  left: 10%;
  background-size: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #6E6666; }

.android .swipe_page__food_image {
  border-radius: 0;
  -webkit-border-radius: 0; }

.swipe_page__food_text_container {
  top: 53%;
  position: absolute;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  color: #838383;
  bottom: 0;
  left: 0;
  right: 0; }

.swipe_page__price {
  font-size: 2rem;
  margin: -.5rem;
  color: #6E6666;
  font-family: TitleFont;
  height: 2.7rem; }

.swipe_page__food_name {
  font-size: 1.3rem;
  overflow: hidden;
  height: 1.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.swipe_page__restaurant_name {
  font-size: 1.3rem;
  height: 1.6rem;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.swipe_page__top_description_bar {
  height: 0.5rem;
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%; }

.swipe_page__bottom_description_bar {
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  bottom: 4%; }

.swipe_page__scroller {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center; }

.swipe_page__description_container {
  position: absolute;
  overflow: hidden;
  top: 6.4rem;
  bottom: 4%;
  left: 0;
  right: 0; }

.swipe_page__bottom_menu {
  height: 7%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0; }

.swipe_page__bottom_button {
  display: inline-block;
  width: 33.33333%;
  height: 75%;
  position: relative; }

.swipe_page__num_items_in_cart_badge {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #FFB2B2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid #6E6666;
  position: absolute;
  text-align: center;
  color: #6E6666;
  font-family: TitleFont;
  font-size: 0.8rem; }

.swipe_page__num_items_in_cart_badge {
  font-size: .9rem; }

#tinderslide {
  background: none;
  background-color: transparent; }

.cart_page__delete_icon {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 1rem;
  right: auto;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.cart_page__invisible_cart_remove_button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3rem; }

.cart_page__cell_text_container {
  margin-left: 1.8rem;
  margin-right: 3.5rem;
  overflow: hidden;
  display: block; }

.cart_page__price {
  right: 1rem;
  left: auto;
  font-size: 1.3rem; }

.cart_page__clear_text {
  font-family: TitleFont;
  color: #6E6666;
  font-size: 2.1rem;
  background-color: #FFB2B2;
  padding: 0.2rem;
  border-top: 1px solid #6E6666;
  border-bottom: 1px solid #6E6666; }

.cart_page__bottom_bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: red;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  background-color: #464646; }

.cart_page__clear_cart {
  padding: 0;
  position: fixed;
  bottom: 3.5rem;
  width: 100%;
  height: 3rem;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cart_page__empty_cart {
  font-family: TitleFont;
  text-transform: none;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #464646; }

/*animate*/
.slide-left > .ng-enter,
.slide-left > .ng-leave,
.slide-right > .ng-enter,
.slide-right > .ng-leave,
.slide-left-in > .ng-enter,
.slide-left-out > .ng-leave,
.slide-right-in > .ng-enter,
.slide-right-out > .ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -ms-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.slide-left > .ng-enter {
  z-index: 101;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-left > .ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-left > .ng-leave {
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-left > .ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-left-in > .ng-enter {
  z-index: 101;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-left-in > .ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-left-out > .ng-leave {
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-left-out > .ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-right > .ng-enter {
  z-index: 100;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-right > .ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-right > .ng-leave {
  z-index: 101;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-right > .ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fade-me.ng-leave {
  transition: 0.25s linear all;
  opacity: 1; }

.fade-me.ng-leave.ng-leave-active {
  opacity: 0; }

.cart_page__repeated_cell_animated {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden; }

.cart_page__repeated_cell_animated.ng-leave {
  -ms-transition: .5s linear;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  max-height: 10rem;
  opacity: 1; }

.cart_page__repeated_cell_animated.ng-leave.ng-leave-active {
  max-height: 0rem;
  opacity: 0; }

.cart_page__empty_cart.ng-enter,
.swipe_page__empty_stack.ng-enter {
  ms-transition: 5s ease-in-out;
  webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
  opacity: 0; }

.cart_page__empty_cart.ng-enter.ng-enter-active,
.swipe_page__empty_stack.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-in-300ms.ng-enter {
  ms-transition: .3s ease-in-out;
  webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0; }

.fade-in-300ms.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-out-300ms.ng-leave {
  ms-transition: .3s ease-in-out;
  webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1; }

.fade-out-300ms.ng-leave.ng-leave-active {
  opacity: 0; }

.fade-in-500ms.ng-enter {
  -webkit-backface-visibility: hidden;
  ms-transition: .5s ease-in-out;
  webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 0; }

.fade-in-500ms.ng-enter.ng-enter-active {
  -webkit-backface-visibility: hidden;
  opacity: 1; }

.fade-out-500ms.ng-leave {
  -webkit-backface-visibility: hidden;
  ms-transition: .5s ease-in-out;
  webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 1; }

.fade-out-500ms.ng-leave.ng-leave-active {
  -webkit-backface-visibility: hidden;
  opacity: 0; }

.leave-right-centered.ng-leave {
  -webkit-backface-visibility: hidden;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.leave-right-centered.ng-leave.ng-leave-active {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(300%, -50%, 0);
  transform: translate3d(300%, -50%, 0); }

.enter-right-centered.ng-enter {
  -webkit-backface-visibility: hidden;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translate3d(300%, -50%, 0);
  transform: translate3d(300%, -50%, 0); }

.enter-right-centered.ng-enter.ng-enter-active {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0%, -50%, 0);
  transform: translate3d(0%, -50%, 0); }

input.add_card__cc_number {
  display: block;
  -webkit-appearance: none;
  border-radius: 0; }

a:link,
a:visited,
a:active {
  color: #38598f;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  color: #666; }

div#oauth_wrapper {
  margin: 0 auto;
  padding: 20% 0 0 0; }

header > .delivery_logo {
  width: 150px;
  height: 59px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/delivery-logo.png") no-repeat; }

header > h1 {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
  font-weight: bold; }

div#oauth_container {
  margin: 0 auto;
  width: 75%;
  padding: 3%;
  background: #fff; }

div#oauth_container input {
  width: 100%;
  margin: 0 0 3% 0;
  padding: 3%;
  border: 1px solid #999;
  font-size: 16px; }

div#oauth_container div.fieldGroup {
  width: 100%; }

div#oauth_container div.fieldGroup > input.smallField {
  float: left;
  width: 48.5%;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none; }
  div#oauth_container div.fieldGroup > input.smallField:focus {
    outline: none; }

div#oauth_container div.fieldGroup > input.smallField:last-child {
  margin: 0 0 3% 3%; }

button.orange_submit {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 5%;
  border: none;
  background: #e86a15;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

div#oauth_container > button:hover {
  background: #666; }

div#message {
  width: 250px;
  margin: 0 auto;
  text-align: center; }

div.error {
  padding: 3%;
  color: #ff0000;
  font-weight: bold;
  text-align: center; }

div.disclaimer {
  margin: 0 0 3% 0;
  font-size: 11px; }

.oauth_overall {
  margin: 0;
  padding: 0;
  font-family: TaglineFont;
  background: #eee;
  color: #666;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: none; }

form.oauth_form {
  display: block;
  margin-top: 0em; }

/*# sourceMappingURL=index.css.map */
