/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import 'colors';
@import 'fonts/fonts';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;        /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;       /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;          /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:white;
  background-attachment:fixed;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;
  height:100%;
  margin:0px;
  padding:0px;
  text-transform:uppercase;
  width:100%;
  background:white;
}

/* Portrait layout (default) */
.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;       /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;           /* text area height */
  width:225px;           /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;   /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
    margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                    /* offset horizontal: half of image width and text area width */
  }
}

h1 {
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
 
.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}


// Below is all my stuff.
$iphone-4: "only screen 
    and (max-device-width : 320px) 
    and (max-device-height : 480px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)";

$iphone-4to5: "only screen 
    and (max-device-width : 320px) 
    and (min-device-height : 481px) 
    and (max-device-height : 568px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)";

$iphone-5to6: "only screen 
    and (min-device-width : 321px) 
    and (max-device-width : 375px) 
    and (min-device-height : 569px) 
    and (max-device-height : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)";

$iphone-6to6plus: "only screen 
    and (min-device-width : 376px) 
    and (max-device-width : 414px) 
    and (min-device-height : 569px) 
    and (max-device-height : 736px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)";

.intro_screen_container {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$intro_screen__lower_container_offset_4: 26%;
$intro_screen__lower_container_offset_5: 23%;
.intro_screen__upper_container {
  position:absolute;
  top: 0;
  bottom: $intro_screen__lower_container_offset_5;
  left: 0;
  right: 0;
  background-color: none; // This is overwritten by JS. See colorList.
  /*TODO(daddy): this is really shitty-- don't ever do this.*/
  @media #{$iphone-4} {
    bottom: $intro_screen__lower_container_offset_4;
  }
}

.intro_screen__lower_container {
  position:absolute;
  top: 100% - $intro_screen__lower_container_offset_5;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/
  @media #{$iphone-4} {
    top: 100% - $intro_screen__lower_container_offset_4;
  }
}

$intro_screen__phone_height: 90%;
.intro_screen__phone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: $intro_screen__phone_height;
  box-shadow: 0px 15px 70px black;
  border-radius: 30px;
}

/*We place the screenshot image inside the phone. To do this we take where the*/
/*phone is relative to the outer div, and add the offset of the screenshot to it.*/
$intro_screen__screenshot_height: (260 / 350) * $intro_screen__phone_height;
.intro_screen__screenshot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: $intro_screen__screenshot_height;
  overflow: hidden;
}

.intro_screen__all_intro_screenshots {
  height: 100%;
  position: absolute;
}

.intro_screen__text_container {
  position: absolute;
  width: 100%;
}

// By sliding this element, we slide all three pieces of text to create a cool
// effect.
.intro_screen__overall_text_container {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

.intro_screen__main_text {
  font-family: TitleFont;
  font-size: 1.5rem;
  text-align: center;
  text-transform: none;
  margin-bottom: 0;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/
  @media #{$iphone-4} {
    font-size: 1.3rem;
  }
  @media #{$iphone-4to5} {
    font-size: 1.5rem;
  }
  @media #{$iphone-5to6} {
    font-size: 1.8rem;
  }
  @media #{$iphone-6to6plus} {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
}

.intro_screen__description_text {
  font-family: TaglineFont;
  text-transform: none;
  text-align: center;
  padding: 0 .5rem;
  /*TODO(daddy): this is really shitty-- don't ever do this.*/
  @media #{$iphone-4} {
    font-size: 1.0rem;
  }
  @media #{$iphone-4to5} {
    font-size: 1.2rem;
  }
  @media #{$iphone-5to6} {
    font-size: 1.5rem;
  }
  @media #{$iphone-6to6plus} {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.intro_screen__dot_slider {
  margin-top: .9rem;
  margin-bottom: 0;
  text-align: center;
}

// Goes with intro_screen__active_dot
.intro_screen__dot_indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: none; // This is redefined and overwritten in JS. Look for colorList.
  margin: 0 4px;
  vertical-align: middle;
}

// Goes with intro_screen__dot_indicator
.intro_screen__active_dot {
  width: 20px;
  height: 20px;
}

.intro_screen__sign_in_button {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 8%;
}


// The choose address screen.
.choose_address__container {
  height: 100%;
  width: 100%;
  position: absolute;
}

$choose_address__top_bar_height: 3rem;
.choose_address__top_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  color: white;
  font-family: TitleFont;
  font-size: 1.3rem;
  text-transform: none;
  text-align: center;
  background-color: white;
}
.choose_address__address_list {
  padding-top: $choose_address__top_bar_height;
  height: 100%;
  background-color: white;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.choose_address__middle_text {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  color: #464646;
}

.choose_address__right_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 0.5em;
  color: #464646;
}
.choose_address__left_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  left: 0.5em;
  color: #464646;
}

$choose_address__padding: 1rem;
.choose_address__list_cell {
  padding: $choose_address__padding $choose_address__padding;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative;
  color: #6E6666;
}

.choose_address__cell_border {
  border-bottom: 1px solid #979797;
  position: absolute;
  left: $choose_address__padding;
  right: $choose_address__padding;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.choose_address__add_new_text {
  margin: $choose_address__padding/2 0;
  color: #464646;
  font-family: TitleFont;
}

.choose_address__arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: $choose_address__padding;
}

.choose_address__selected_badge {
  width: 2.8rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  right: 1em;
}




// The add address page.
.add_address__input_container {
  padding: 0rem 1rem;
  padding-top: 1rem;
  color: $main_color;
  background-color: white;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  position: relative;
}

.add_address__input_cell {
  padding: 0 1rem;
  padding-top: 0.5rem;
  color: #260126;
  background-color: white;
  font-family: TitleFont;
  font-size: 1rem;
  text-transform: none;
  position: relative;
}

.add_address__cell_bottom_row input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: .2rem;
  color: #6E6666;
}

.add_address__cell_top_row {
  font-size: 1.3rem;
  color: #6E6666;
}

.add_address__cell_bottom_row select {
  width: 4rem;
  background-color: #260126;
  color: white;
  border: none;
  height: 1.5rem;
  font-size: 1.1rem;
  vertical-align: middle;
}

.overall__loading_widget {
  position: fixed;
  top: 20%;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-family: TitleFont;
  font-size: 3rem;
  color: #464646;
}

.overall__loading_widget_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
}

.overall__loading_pusheen {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 5px solid #464646;
}

$swipe_page__text_height: 12%;
.swipe_page__overall_container {
  background-color: #E7E8E9;
  height: 100%;
  width: 100%;
  position: absolute;
}

.swipe_page__top_text {
  position: absolute;
  height: $swipe_page__text_height;
  top: 0;
  width: 100%;
  text-transform: none;
  font-family: TitleFont;
  font-size: 2rem;
  text-align: center;
  color: #6E6666;
}

$swipe_page__stack_height: 72%;
.swipe_page__jtinder_container {
  width: 92%;
  height: $swipe_page__stack_height;
  top: 15%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.swipe_page__loading_pusheen {
  position: absolute;
  top: 20%;
  left: 0;
  width: 80%;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  border: 5px solid #464646;
}

.swipe_page__vertically_center {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
}

.swipe_page__tinderslide {
  position: absolute;
  background: #fff;
  width: 95%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.swipe_page__food_image_container {
  width: 100%;
  height: 50%;
  position: absolute;
}

.swipe_page__food_image {
  position: absolute;
  top: 3%;
  right: 10%;
  bottom: 3%;
  left: 10%;
  background-size: contain;
  border-radius: 100%;
  border: 3px solid #6E6666;
}

.swipe_page__food_text_container {
  top: 50%;
  position: absolute;
  font-family: TaglineFont;
  font-size: 1rem;
  text-transform: none;
  color: #838383;
  bottom: 0;
  left: 0;
  right: 0;
}

$sp_ph: 2.7rem; 
.swipe_page__price {
  font-size: 2rem;
  margin: -.5rem;
  color: #6E6666;
  font-family: TitleFont;
  height: $sp_ph;
}

$sp_fnh: 1.6rem; 
.swipe_page__food_name {
  font-size: 1.3rem;
  overflow: hidden;
  height: $sp_fnh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

$sp_rnh: 1.6rem; 
.swipe_page__restaurant_name {
  font-size: 1.3rem;
  height: $sp_rnh;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

$sp_top_bar_height: 0.5rem;
.swipe_page__top_description_bar {
  height: $sp_top_bar_height;
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%;
}

$sp_bottom_offset: 4%;
.swipe_page__bottom_description_bar {
  border-bottom: 1px solid #6E6666;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  bottom: $sp_bottom_offset;
}

.swipe_page__scroller {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

.swipe_page__description_container {
  position: absolute;
  overflow: hidden;
  top: $sp_ph + $sp_fnh + $sp_rnh + $sp_top_bar_height;
  bottom: $sp_bottom_offset;
  left: 0;
  right: 0;
}

.swipe_page__bottom_menu {
  height: 7%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0;
}

.swipe_page__bottom_button {
  display: inline-block;
  width: 50%;
  height: 75%;
  position: relative;
}

// We position this with javascript.
.swipe_page__num_items_in_cart_badge {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #FFB2B2;
  border-radius: 100%;
  border: 1px solid #6E6666;
  position: absolute;
  text-align: center;
  color: #6E6666;
  font-family: TitleFont;
  font-size: 0.8rem;
}

.swipe_page__num_items_in_cart_badge {
  font-size: .9rem;
}

#tinderslide {
  background: none;
  background-color: transparent;
}

.pane1 {
}


// Testing view transitions
/*animate*/  
.slide-left > .ng-enter,  
.slide-left > .ng-leave,  
.slide-right > .ng-enter,  
.slide-right > .ng-leave {  
    position: absolute;  
    top: 0; right: 0; bottom: 0; left: 0;  
    background: inherit;  
    -ms-transition: .5s ease-in-out;  
    -webkit-transition: .5s ease-in-out;  
    transition:  .5s ease-in-out;  
}  
.slide-left > .ng-enter {  
    z-index: 101;  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  
.slide-left > .ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-left > .ng-leave {  
    z-index: 100;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-left > .ng-leave.ng-leave-active {  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.slide-right > .ng-enter {  
    z-index: 100;  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.slide-right > .ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-right > .ng-leave {  
    z-index: 101;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-right > .ng-leave.ng-leave-active {  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}
// Things that fade out, like the loading screen.
.fade-me.ng-leave {
  transition:0.25s linear all;
  opacity:1;
}
.fade-me.ng-leave.ng-leave-active {
  opacity:0;
}
