<div class="swipe_page__overall_container" ng-hide="current_page !== 'main_swipe_page_tab'">
  <div class="swipe_page__top_text">
    <div class="tweet_button__container">
      <div ng-click="takeScreenshotAndShareTwitter()" class="tweet_button"></div>
    </div>
    <div class="facebook_button__container">
      <div ng-click="takeScreenshotAndShareFacebook()" class="facebook_button"></div>
    </div>
    <div class="swipe_page__vertically_center" style="font-size: 1.5rem; width: 60%;">
      {{funnyText}}
    </div>
  </div>
  <div class="swipe_page__jtinder_container" ng-if="!isLoading">
    <div id="tinderslide" class="swipe_page__tinderslide">
        <ul>
          <li class="pane1 fade-in-300ms" ng-repeat="foodInfo in joinedFoodInfo">
            <img class="overall__attribution_img" src="img/powered_by_google.png">
            <div class= "swipe_page__food_image_container">
              <div class="swipe_page__food_image" fma-back-img="{{foodInfo.imagesToShow.urls[0]}}">
              </div>
            </div>
            <div class="like"></div>
            <div class="dislike"></div>

            <div class="swipe_page__food_text_container">
              <div class="swipe_page__price">${{foodInfo.foodData.price}}</div>
              <div class="swipe_page__food_name">{{foodInfo.foodData.name}}</div>
              <div style="margin-bottom: -0.6rem;">from</div>
              <div class="swipe_page__restaurant_name">{{foodInfo.foodData.merchantName}}</div>
              <div class="swipe_page__top_description_bar"></div>
              <div class="swipe_page__description_container">
                <div class="swipe_page__scroller">
                  <div>{{foodInfo.foodData.description}}</div>
                  <div>{{foodInfo.foodData.merchantDescription}}</div>
                </div>
              </div>
              <div class="swipe_page__bottom_description_bar"></div>
            </div>
          </li>
        </ul>
    </div>

    <div class="swipe_page__empty_stack fade-in-slow" ng-if="foodData.length === foodDataCursor">
      Tap Burgie below to refresh or change your search by tapping the magnifying glass.
    </div>
    <div class="swipe_page__loading_pusheen fade-in-300ms fade-out-300ms" alt="" ng-if="(allImageLinks.length - foodDataCursor <= 0) && (foodDataCursor !== foodData.length)">
      <div class="overall__attribution">Pusheen.com</div>
    </div>
  </div>
</div>

<div class="swipe_page__overall_container" ng-if="current_page === 'search_swipe_page_tab'">
  <div class="swipe_page__top_text">
    <div class="swipe_page__vertically_center" style="font-size: 1.5rem; width: 60%;">
      Keyword search
    </div>
  </div>
  <div class="choose_address_v2__text_container">
    <!--Got rid of this; consider putting it back. ng-focus="geolocate()"-->
    <input ng-change="keywordDidChange()" class="choose_address_v2__inner_input" type="search" ng-model="searchQuery.query" placeholder="E.g. chicken, japanese, domino's..." ng-trim="false">
    <div class="choose_address_v2__clear_text_container" ng-if="searchQuery.query.length > 0" ng-click="clearTextPressed()">
      <div class="choose_address_v2__clear_text"></div>
    </div>
  </div>
  <div class="swipe_page__empty_stack"
      ng-click="executeSearchPressed()"
      style="top: 25%; width: 90%; margin: 0 auto; left: 0; right: 0; background-color: #9F9FEA; border-radius: 6px; box-shadow: 1px 2px 4px 0px;">
    search!
  </div>
</div>

<div class="swipe_page__overall_container" ng-if="current_page === 'recent_orders_swipe_page_tab'">
  <div class="swipe_page__top_text">
    <div class="swipe_page__vertically_center" style="font-size: 1.5rem; width: 60%;">
      Recent orders
    </div>
  </div>
  <div class="recent_orders__container">
    <div class="choose_address__address_list" style="background-color: #E7E8E9">
      <div style="min-height: 101%">
        <div ng-repeat="orderItem in recentOrders track by $index">
          <div class="choose_address__list_cell" style="background-color: #E7E8E9">
            <div class="swipe_page__vertically_center">
              <img src="img/add.png" alt="" class="cart_page__delete_icon swipe_page__vertically_center">
            </div>
            <div class="cart_page__invisible_cart_remove_button" ng-click="addRecentOrderToCart($index)"></div>
            <div class="cart_page__cell_text_container">
              <div class="choose_address__cell_top_row ng-binding">
                {{orderItem.name}}
              </div>
              <div class="choose_address__cell_bottom_row ng-binding">
                <div style="font-family: TitleFont; display: inline;">from</div>  {{orderItem.merchantName}}
              </div>
            </div>
            <div class="cart_page__price swipe_page__vertically_center ng-binding">
              ${{orderItem.price}}
            </div>
            <!--Don't put a border on the last cell-->
            <div class="choose_address__cell_border ng-scope" ng-if="userCart.length < 5 || ($index !== userCart.length - 1)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose_address_v2__empty_address_list" ng-if="recentOrders == null || recentOrders.length === 0">
      <div class="swipe_page__vertically_center">
        No recent orders.
      </div>
    </div>
    <div class="choose_address_v2__empty_pusheen" style="height: 35%" ng-if="recentOrders == null || recentOrders.length === 0">
      <div class="overall__attribution" style="bottom: 8%; font-size: .8rem;">Pusheen.com</div>
    </div>
    <div class="choose_address__cell_border choose_address_v2__border_top"></div>
  </div>
</div>

<div class="swipe_page__bottom_menu">
  <div ng-click="backButtonPressed()" class="swipe_page__bottom_button">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/back.png" alt="">
  </div>
  <div ng-click="searchButtonPressed()" class="swipe_page__bottom_button">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/search.png" alt="" ng-if="current_page !== 'search_swipe_page_tab' && searchQuery.query == ''">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/red_search.png" alt="" ng-if="current_page !== 'search_swipe_page_tab' && searchQuery.query != ''">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/active_search.png" alt="" ng-if="current_page === 'search_swipe_page_tab' && searchQuery.query == ''">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/active_red_search.png" alt="" ng-if="current_page === 'search_swipe_page_tab' && searchQuery.query != ''">
  </div>
  <div ng-click="refreshButtonPressed()" class="swipe_page__bottom_button">
    <img style="height: 130%;" class="swipe_page__vertically_center" src="img/active_burgie.png" alt="" ng-if="current_page === 'main_swipe_page_tab'" >
    <img style="height: 130%;" class="swipe_page__vertically_center" src="img/inactive_burgie.png" alt="" ng-if="current_page !== 'main_swipe_page_tab'" >
  </div>
  <div ng-click="recentOrdersButtonPressed()" class="swipe_page__bottom_button">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/recent.png" alt="">
    <img style="height: 100%;" class="swipe_page__vertically_center" src="img/active_recent.png" alt="" ng-if="current_page === 'recent_orders_swipe_page_tab'">
  </div>
  <div ng-click="cartButtonPressed()" class="swipe_page__bottom_button">
    <!--We use the onload method to set the little badge-->
    <img swipe-page-cart-image-on-load style="height: 100%;" class="swipe_page__vertically_center" src="img/cart.png" alt="">
  </div>
</div>

<div ng-if="isLoading && current_page === 'main_swipe_page_tab'" class="swipe_page__loading_container">
  <div class="overall__loading_container">
    <div class="overall__loading_widget_background"></div>
    <div class="overall__loading_widget">Loading!</div>
    <div class="overall__loading_pusheen">
    <!--<img class="overall__loading_pusheen" src="img/pusheen_eating.gif" alt="">-->
      <div class="overall__attribution">Pusheen.com</div>
    </div>
    <div class="overall__loading_long_time">
      (takes a while sorry..)
    </div>
  </div>
</div>
<!--This gets positioned by javascript in the swipe-page-cart-image-on-load function.-->
<!--Not ideal, but oh well.-->
<div class="swipe_page__num_items_in_cart_badge" ng-show="userCart.length > 0 && showCartBadge">
  <div class="swipe_page__num_items_in_cart_text swipe_page__vertically_center">{{userCart.length}}</div>
</div>

