<div class="swipe_page__overall_container">
  <div class="swipe_page__top_text">
    <div class="swipe_page__vertically_center">
      Swipe your destiny.  
    </div>
  </div>
  <div class="swipe_page__jtinder_container">
    <div id="tinderslide" class="swipe_page__tinderslide">
        <ul>
          <li class="pane1" ng-repeat="foodInfo in joinedFoodInfo">
            <div class= "swipe_page__food_image_container">
              <div class="swipe_page__food_image" fma-back-img="{{foodInfo.imageLinks.urls[0]}}"></div>
            </div>
            <div class="like"></div>
            <div class="dislike"></div>

            <div class="swipe_page__food_text_container">
              <div class="swipe_page__price">${{foodInfo.foodData.price}}</div>
              <div style="font-size: 1.3rem;">{{foodInfo.foodData.name}}</div>
              <div style="margin-top: -.3rem; margin-bottom: -0.4rem;">from</div>
              <div style="font-size: 1.3rem;">{{foodInfo.foodData.merchantName}}</div>
              <div class="swipe_page__description_container">
                <div>{{foodInfo.foodData.description}}</div>
                <div>{{foodInfo.foodData.merchantDescription}}</div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="swipe_page__bottom_menu">
    <div class="swipe_page__bottom_button" style="border-right: 1px solid #6E6666;"><img style="height: 100%;" class="swipe_page__vertically_center" src="img/gear.png" alt=""></div>
    <div class="swipe_page__bottom_button"><img style="height: 100%;" class="swipe_page__vertically_center" src="img/cart.png" alt=""></div>
  </div>
</div>



<div class="overall__loading_container" ng-if="isLoading">
  <div class="overall__loading_widget_background"></div>
  <div class="overall__loading_widget">Loading!</div>
</div>
