<div class="cart_page_v2__top_text">
  <div class="cart_page_v2__top_text__inner">
    Apply filters.
  </div>
  <div class="home_page_v2__cell_border"></div>
</div>
<div class="cart_page_v2__items_container">
  <div class="search_page_v2__filter_list">
    <div style="min-height: 101%">
      <div class="search_page_v2__keyword_container">
        <div class="search_page_v2__keyword_inner">
          Keyword
        </div>
      </div>
      <div class="search_page_v2__keyword_input_container">
        <input ng-change="keywordDidChange()" class="search_page_v2__keyword_input_inner"
            type="search" ng-model="globals.keywordValue" placeholder="E.g. Chinese, pizza, etc.." ng-trim="false">
        <div class="search_page_v2__clear_text_container" ng-if="globals.keywordValue.length > 0" ng-click="clearKeywordPressed()">
          <div class="choose_address_v2__clear_text" style="height: 3.5vh; width: 3.5vh"></div>
        </div>
      </div>
      <div class="search_page_v2__keyword_container" style="margin: 0 4vw; font-family: TaglineFont; font-size: 3vh;">
        <div class="search_page_v2__keyword_inner">
          (Puts matching items at the top.)
        </div>
      </div>
      <div class="search_page_v2__keyword_container">
        <div class="search_page_v2__keyword_inner">
          Choose restaurant
        </div>
      </div>
      <div class="search_page_v2__keyword_input_container">
        <select ng-model="globals.selectedMerchantId" class="search_page_v2__keyword_input_inner" ng-change="selectDidChange()"
                ng-options="merchant.id as merchant.summary.name for merchant in sortedMerchants">
        </select>
      </div>
      <div class="search_page_v2__keyword_container" style="margin-left: 0; text-align: center;">
        <div class="search_page_v2__keyword_inner">
          Delivery minimum limit
        </div>
      </div>
      <div class="search_page_v2__price_number_container">
        <div class="search_page_v2__price_number_inner" ng-click="subtractFromLimit()">
          <div class="search_page_v2__price_number_plus"></div>
        </div>
        <div class="search_page_v2__price_number_inner">
          <div class="search_page_v2__price_number_value">
            <div class="search_page_v2__price_number_value_inner">
              ${{globals.deliveryMinimumLimit}}
            </div>
          </div>
        </div>
        <div class="search_page_v2__price_number_inner" ng-click="addToLimit()">
          <div class="search_page_v2__price_number_minus"></div>
        </div>
      </div>
      <div class="search_page_v2__button_container" ng-click="doneButtonPressed()">
        <div class="search_page_v2__button_inner">
          Search
        </div>
      </div>
    </div>
  </div>
</div>
