<div class="cart_page_v2__top_text">
  <div class="cart_page_v2__top_text__inner">
    Apply filters.
  </div>
  <div class="home_page_v2__cell_border"></div>
</div>
<div class="cart_page_v2__items_container">
  <div class="search_page_v2__filter_list">
    <div style="min-height: 101%">
      <div class="search_page_v2__keyword_container">
        <div class="search_page_v2__keyword_inner">
          Keyword
        </div>
      </div>
      <div class="search_page_v2__keyword_input_container">
        <input ng-change="keywordDidChange()" class="search_page_v2__keyword_input_inner"
            type="search" ng-model="keywordValue" placeholder="Type in me..." ng-trim="false">
        <!--<div class="choose_address_v2__clear_text_container" ng-if="addressQuery.length > 0" ng-click="clearTextPressed()">-->
          <!--<div class="choose_address_v2__clear_text"></div>-->
        <!--</div>-->
      </div>
      <div class="search_page_v2__keyword_container">
        <div class="search_page_v2__keyword_inner">
          Choose restaurant
        </div>
      </div>
      {{merchantSelected.id}}
      <div class="search_page_v2__keyword_input_container">
        <select ng-model="selectedMerchantId" class="search_page_v2__keyword_input_inner" ng-change="selectDidChange()"
                ng-options="merchant.id as merchant.summary.name for merchant in sortedMerchants">
        </select>
      </div>
      <div class="search_page_v2__keyword_container" style="margin-left: 0; text-align: center;">
        <div class="search_page_v2__keyword_inner">
          Delivery minimum limit
        </div>
      </div>
      <div class="search_page_v2__price_number_container">
        <div class="search_page_v2__price_number_inner" ng-click="subtractFromLimit()">
          <div class="search_page_v2__price_number_plus"></div>
        </div>
        <div class="search_page_v2__price_number_inner">
          <div class="search_page_v2__price_number_value">
            <div class="search_page_v2__price_number_value_inner">
              ${{deliveryMinimumLimit}}
            </div>
          </div>
        </div>
        <div class="search_page_v2__price_number_inner" ng-click="addToLimit()">
          <div class="search_page_v2__price_number_minus"></div>
        </div>
      </div>
      <div class="search_page_v2__button_container" ng-click="doneButtonPressed()">
        <div class="search_page_v2__button_inner">
          Done
        </div>
      </div>
    </div>
  </div>
</div>
