<div class="choose_address__container">
  <div class="choose_address__address_list">
    <div ng-repeat="locationObj in locationList">
      <div class="choose_address__list_cell" ng-click="cellSelected($index)">
        <div class="choose_address__cell_top_row">
          {{locationObj.street}}
        </div>
        <div class="choose_address__cell_bottom_row">
          {{locationObj.city}}, {{locationObj.state}} &nbsp; | &nbsp; {{locationObj.phone}}
        </div>
        <div class="choose_address__cell_border"></div>
        <img class="choose_address__selected_badge" ng-if="$index == selectedLocationIndex.value"
              src="img/happy_burger.png" alt="">
      </div>
    </div>
    <div class="choose_address__list_cell" ng-click="addAddressButtonPressed()" style="margin-bottom: 1em;">
      <div class="choose_address__add_new_text">+ Add new address</div>
      <div class="choose_address__cell_border"></div>
      <img class="choose_address__arrow" src="img/arrow.png" alt="">
    </div>
  </div>
  <div class="choose_address__top_bar">
    <div class="choose_address__middle_text">Where Food Go?</div>
    <div class="choose_address__right_text" ng-click="doneButtonPressed()">Done</div>
    <div class="choose_address__cell_border"></div>
  </div>
</div>

<div ng-include src="'loading_screen/loading_screen.html'" ng-if="isLoading" class="fade-me"></div>
