<div class="choose_address__container">
  <div style="padding-bottom: 6.5rem;" class="choose_address__address_list">
    <div style="min-height: 101%">
      <div ng-repeat="cartItem in userCart" class="cart_page__repeated_cell_animated fade-out-500ms">
        <div class="choose_address__list_cell">
          <div class="swipe_page__vertically_center">
            <img ng-cloak src="img/delete.png" alt="" class="cart_page__delete_icon swipe_page__vertically_center">
          </div>
          <div class="cart_page__invisible_cart_remove_button" ng-click="removeFromCart($index)"></div>
          <div class="cart_page__cell_text_container">
            <div class="choose_address__cell_top_row">
              {{cartItem.name}}
            </div>
            <div class="choose_address__cell_bottom_row">
              <div style="font-family: TitleFont; display: inline;">from</div> {{cartItem.merchantName}} 
            </div>
          </div>
          <div class="cart_page__price swipe_page__vertically_center">
            ${{cartItem.price}}
          </div>
          <!--Don't put a border on the last cell-->
          <div class="choose_address__cell_border" ng-if="userCart.length < 5 || ($index !== userCart.length - 1)"></div>
        </div>
        </div>
      <div class="cart_page__empty_cart" ng-if="userCart.length === 0">
        Nothing in your cart-- swipe on, babeh!
      </div>
    </div>
  </div>
  <div ng-if="userCart.length > 0" class="cart_page__clear_cart fade-out-500ms"
      ng-click="cartPageClearCartPressed()">
    <div class="cart_page__clear_text">clear cart</div>
  </div>
  <div class="choose_address__top_bar">
    <div class="choose_address__middle_text">Edit Cart</div>
    <div class="choose_address__right_text" ng-click="cartFinishButtonPressed()">
      <div class="swipe_page__vertically_center">
        Finish
      </div>
    </div>
    <div class="choose_address__left_text" ng-click="cartBackButtonPressed()">
      <div class="swipe_page__vertically_center">
        Back
      </div>
    </div>
    <div class="choose_address__cell_border"></div>
  </div>
  <div class="cart_page__bottom_bar">
    <div style="color: white;" class="choose_address__left_text">
      <div class="swipe_page__vertically_center">
        Total
      </div>
    </div>
    <div style="color: white;" class="choose_address__right_text">
      <div class="swipe_page__vertically_center">
        ${{cartTotal}}
      </div>
    </div>
  </div>
</div>

<div ng-include src="'loading_screen/loading_screen.html'" ng-if="isLoading" class="fade-me"></div>
