<div class="home_page_v2__top_bar">
  <div class="home_page_v2__left_text">
    <div class="home_page_v2__hamburger_button">
    </div>
  </div>
  <div class="home_page_v2__right_text" ng-click="doneButtonPressed()">
    <div class="home_page_v2__next">
      Next
    </div>
  </div>
  <div class="home_page_v2__cell_border"></div>
</div>

<div class="swipe_page__bottom_menu">
  <div ng-click="searchButtonPressed()" class="swipe_page__bottom_button">
    <div class="home_page_v2__search_icon">
    </div>
  </div>
  <div ng-click="homeButtonPressed()" class="swipe_page__bottom_button">
    <div class="home_page_v2__burgie_icon">
    </div>
  </div>
  <div ng-click="cartButtonPressed()" class="swipe_page__bottom_button">
    <div class="home_page_v2__cart_icon">
      <div class="home_page_v2__cart_badge" ng-show="globals.userCart.length !== 0">
        <div class="home_page_v2__cart_badge__inner">{{globals.userCart.length}}</div>
      </div>
    </div>
  </div>
  <div class="swipe_page__bottom_bar" style="left: 33.333333%"></div>
</div>

<div ui-view></div>
