<div class="choose_address__container">
  <div class="choose_address__address_list">
    <form name="forms.newAddressForm">
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row">
        Street address*:
      </div>
      <div class="add_address__cell_bottom_row">
        <input type="text" name="streetAddress" ng-model="addressFields.streetAddress" required>
      </div>
      <!--{{forms.newAddressForm.streetAddress.$valid}}-->
    </div>
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row">
        Apt/suite/company name:
      </div>
      <div class="add_address__cell_bottom_row">
        <input type="text" name="apartmentNumber" ng-model="addressFields.apartmentNumber">
      </div>
      <!--{{forms.newAddressForm.apartmentNumber.$valid}}-->
    </div>
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row">
        City*:
      </div>
      <div class="add_address__cell_bottom_row">
        <input type="text" name="city" ng-model="addressFields.city" required>
      </div>
      <!--{{forms.newAddressForm.city.$valid}}-->
    </div>
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row" style="display: inline-block; transform: translateY(4px);">
        State*:
      </div>
      <div class="add_address__cell_bottom_row" style="display: inline-block; margin-left: .5rem; height: 1.9rem;">
        <select ng-model="addressFields.state" name="state" ng-options="state for state in possibleStates" required style="width: 4rem; height: 1.8rem;"></select>
      </div>
      <!--{{forms.newAddressForm.state.$valid}}-->
    </div>
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row">
        Zip code*:
      </div>
      <div class="add_address__cell_bottom_row">
        <input type=”text” ng-model="addressFields.zip" name="zip" required>
      </div>
      <!--{{forms.newAddressForm.zip.$valid}}-->
    </div>
    <div class="add_address__input_container">
      <div class="add_address__cell_top_row">
        Phone number (no dashes)*:
      </div>
      <div class="add_address__cell_bottom_row">
        <input type="number" name="phone" ng-model="addressFields.phone" required>
      </div>
      <!--{{forms.newAddressForm.phone.$valid}}-->
    </div>
    <div style="height: 1.5rem;"></div>
  </form>
  </div>
  <div class="choose_address__top_bar">
    <div class="choose_address__middle_text">Where Food Go?</div>
    <div class="choose_address__right_text" ng-click="addAddressDonePressed()">
      <div class="swipe_page__vertically_center">
        Done
      </div>
    </div>
    <div class="choose_address__left_text" ng-click="addAddressCancelPressed()">
      <div class="swipe_page__vertically_center">
        Cancel
      </div>
    </div>
    <div class="choose_address__cell_border"></div>
  </div>
</div>
