<div class="swipe_page__overall_container">
  <div class="swipe_page__top_text">
    <div class="swipe_page__vertically_center" style="font-size: 1.5rem; width: 60%;">
      Recent orders
    </div>
  </div>
  <div class="recent_orders__container">
    <div class="choose_address__address_list" style="background-color: #E7E8E9">
      <div style="min-height: 101%">
        <div ng-repeat="orderItem in recentOrders track by $index">
          <div class="choose_address__list_cell" style="background-color: #E7E8E9">
            <div class="swipe_page__vertically_center">
              <img src="img/add.png" alt="" class="cart_page__delete_icon swipe_page__vertically_center">
            </div>
            <div class="cart_page__invisible_cart_remove_button" ng-click="addRecentOrderToCart($index)"></div>
            <div class="cart_page__cell_text_container">
              <div class="choose_address__cell_top_row ng-binding">
                {{orderItem.name}}
              </div>
              <div class="choose_address__cell_bottom_row ng-binding">
                <div style="font-family: TitleFont; display: inline;">from</div>  {{orderItem.merchantName}}
              </div>
            </div>
            <div class="cart_page__price swipe_page__vertically_center ng-binding">
              ${{orderItem.price}}
            </div>
            <!--Don't put a border on the last cell-->
            <div class="choose_address__cell_border ng-scope" ng-if="userCart.length < 5 || ($index !== userCart.length - 1)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose_address_v2__empty_address_list" ng-if="recentOrders == null || recentOrders.length === 0">
      <div class="swipe_page__vertically_center">
        No recent orders.
      </div>
    </div>
    <div class="choose_address_v2__empty_pusheen" style="height: 35%" ng-if="recentOrders == null || recentOrders.length === 0">
    </div>
    <div class="choose_address__cell_border choose_address_v2__border_top"></div>
  </div>
</div>
